#about-row {
    margin: auto;
    padding-top: 68.9px;
}
.centered {
    text-align: center;
}
.about-greeting {
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 0.2em;
    color: rgb(119, 119, 119);
    line-height: 101px;
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;;
}
.intro {
    font-weight: 300;
}
.about-text{
    font-size: 1.7em;
    margin-top: 40px;
    font-weight: 300;
}
.about-text > b > a {
    font-weight: 600;

}