@font-face {
    font-family: SUNN;
    src: url(../fonts/SUNN.otf);
}
html {
    height: 100%;
}
body {
    height: 100%;
    border-width: 11px;
    font-family: 'PT Sans', sans-serif;
    background: rgb(233, 233, 228);
    background: rgb(255, 249, 232);
    color: rgba(91, 91, 91, 0.95);
}
a {
    text-decoration: none;
    color: inherit;
}
.row {
    width: 100%;
}
a:hover {
    text-decoration: none;
    color: red;
}
@media (min-width: 769px) {
    .container-fluid {
        display: inline-block;
    }
}
.navbar {
    margin-bottom: 0px !important;
}
.navbar-nav>li {} .navbar-default .navbar-nav>li>a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(86, 96, 99);
    transition: .15s ease-out;
    font-weight: 900;
    padding: 0px 0px;
    font-size: 1.05em;
    letter-spacing: 0.06em;
    font-family: Roboto Slab;
}
.navbar-default .navbar-nav>li>a:hover {
    /*border-bottom-color: rgb(87, 105, 118);*/
    
    border-bottom-width: 10px;
    color: rgba(255, 249, 232, 0.9);
}
.navbar-default {
    background: transparent;
    border: none;
}
.navbar-holder {
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 3px;
    border-bottom-color: rgb(65, 87, 97);
    border-bottom-color: burlywood;
    background: rgb(136, 188, 215);
    width: 100%;
    padding-top: 60px;
}
.logo {
    margin-top: -41px;
    font-size: 4em;
}
.logo > a {
    text-decoration: none;
    border: none !important;
    display: inline-block !important;
    font-size: 1.4em !important;
    font-weight: 300 !important;
    font-family: SUNN !important;
    text-transform: none !important;
    font-variant: small-caps;
    letter-spacing: 0.05em !important;
    color: rgb(255, 249, 232) !important;
}
.logo > a:hover, .logo > a:focus {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.4) !important;
}
.active-nav {
    border-bottom-color: none !important;
    border-bottom-width: 10px !important;
    border-bottom-color: rgb(87, 105, 118) !important;
    color: rgba(255, 249, 232, 0.9) !important;
}
.title {
    letter-spacing: 5px;
    padding-top: -10px;
    color: rgba(20, 20, 20, 0.7);
    font-size: 5em;
    font-weight: 200;
    margin-top: -10px;
    padding-bottom: 15px !important;
    font-family: Roboto Slab;
    text-transform: uppercase;
    Font-weight: 200;
}
.row {
    padding-top: 30px;
}
.box-container {
    border: rgb(226, 93, 64) solid 3px;
}
.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}
.search {
    height: 44px !important;
    padding-left: 10px;
    font-size: 0.65em;
    width: 75%;
    max-width: 650px;
    background: rgba(255, 249, 232, 0);
    padding-top: 5px;
    border-radius: 0px;
    border-color: rgb(226, 93, 64);
    border-width: 3px !important;
    margin-bottom: 20px;
    box-shadow: none;
    outline: 0 none;
    margin-top: -9px;
    color: rgb(226, 93, 64);
    font-family: PT sans;
    font-weight: 100;
}
textarea:focus, input[type="search"]:focus, input[type="button"]:focus {
    border-color: rgb(226, 93, 64) !important;
    box-shadow: none;
    outline: 0 none;
}
::-webkit-input-placeholder {
    color: rgb(226, 93, 64) !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: rgb(226, 93, 64) !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: rgb(226, 93, 64) !important;
}
:-ms-input-placeholder {
    color: rgb(226, 93, 64) !important;
}
.new-cal {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 600;
    font-size: 0.55em;
    height: 60px;
    margin-top: 26px;
}
.add-to-calendar-checkbox {
    display: block;
}
.add-to-calendar-checkbox:checked~a {
    display: inline !important;
}
.cal {
    height: 50px;
}
.calSpan {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 600;
    font-size: 1em;
    padding: 3px;
    background: rgb(218, 218, 218);
    padding-right: 6px;
    padding-left: 6px;
}
.calSpan:hover {
    color: black;
}
.cal-options {
    padding-top: 11px;
    display: inline-block;
}
.cal-options>a {
    background: cadetblue;
    color: rgb(255, 249, 232);
    padding: 5px;
    font-size: 0.85em;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 7px;
}
.cal-options>a:hover {
    color: black;
}
.cal-options>a:focus {
    text-decoration: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.display-title {
    font-size: 1em;
    font-family: Roboto slab;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(226, 93, 64);
    font-style: italic;
    display: inline;
}
.display-caption {
    margin-top: -5px;
    letter-spacing: 0.08em;
    color: rgba(89, 69, 69, 0.94);
    text-transform: uppercase;
    font-family: Roboto Slab;
    font-size: 0.6em;
    padding-top: 4px;
    font-style: italic;
    font-weight: 600;
}
.display-description {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.405em;
    text-align: initial;
    padding-top: 7px;
}
.display-container {
    height: 781px;
    text-align: left;
    border-left-style: solid;
    overflow-y: auto;
    margin-left: 70px;
    padding: 23px;
    border-right-style: solid;
}
.light {
    font-weight: 500;
}
.filter-label {
    margin-top: -5px;
    letter-spacing: 0.04em;
    color: rgba(89, 69, 69, 0.94);
    text-transform: uppercase;
    font-size: 0.6em;
    padding-top: 4px;
    font-family: Roboto Slab;
    font-style: italic;
    font-weight: 700;
}
.active-li {
    margin-top: -6px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(57, 64, 68, 0.88);
}
.event-entry-name {
    font-size: 0.7em;
    font-weight: 100;
    font-family: PT Sans;
    margin-bottom: -7px;
    line-height: 1em;
    color: rgb(85, 80, 80);
}
.event-entry-time {
    font-size: 0.625em;
    color: rgba(64, 63, 63, 0.86);
    margin-bottom: -5px;
}
.list-container {
    padding: 23px;
    padding-top: 0px;
}
.display-container {
    padding: 23px;
    padding-bottom: 0px;
    padding-top: 23px;
}
/*add 'screen and'*/

@media (max-width: 875px) {
    .navbar-holder {
        padding-top: 0px;
    }
    #film-row {
        margin-right: 0px !important;
        padding-top: 0px;
    }
    .box-container {
        border: none !important;
    }
    .list-container {
        padding: 0px !important;
    }
    .row {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .display-container {
        padding: 0px;
        margin: 25px;
    }
    .table-scroll {
        overflow: auto;
        max-height: 410px !important;
        border-top: 1px rgba(255, 100, 0, 0.57) solid;
    }
    .list-heading {
        text-align: center !important;
        font-size: 1.1em !important;
        display: inline;
    }
    .search {
        height: 36px !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        border-width: 1px !important;
        font-size: 0.55em;
        width: 140px;
        display: inline;
    }
    .back-btn {
        padding: 0px 8px 0px 8px;
        border: rgba(54, 56, 60, 0.58) solid 2px;
        font-style: normal;
        font-weight: 900;
        border-radius: 200px;
        font-family: PT Sans;
        font-size: 0.8em;
        color: rgba(54, 56, 60, 0.58);
        cursor: pointer;
        float: right;
    }
}
