::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(86, 96, 99, 1);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
html {
    height: 100%;
}
body {
    height: 100%;
    border-width: 11px;
    color: rgba(91, 91, 91, 0.95);
    font-family: Source Sans Pro;
}
a {
    text-decoration: none;
    color: inherit;
}
.row {
    width: 100%;
}
a:hover {
    text-decoration: none;
    color: red;
}
@media (min-width: 769px) {
    .container-fluid {
        display: inline-block;
    }
}
.navbar {
    margin-bottom: 0px !important;
}
.navbar-nav>li {} .navbar-default .navbar-nav>li>a {
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .15s ease-out;
    font-weight: 900;
    padding: 0px 0px;
    font-size: 0.95em;
    font-family: Source Sans Pro;
    /*font-family: Raleway;*/
    letter-spacing: 0.13em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-default .navbar-nav>li>a:hover {
    /*border-bottom-color: rgb(87, 105, 118);*/
    
    border-bottom-width: 10px;
    color: rgba(0, 0, 0, 0.4);
}
.navbar-default {
    border: none;
    background: transparent;
}
.navbar-holder {
    border-bottom: solid 3px;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    font-size: 1.3em;
}
.mobile-logo {
    font-family: Plaster;
    font-size: 2em;
}
.logo {
    font-size: 3em;
    margin-top: -41px;
    font-family: Passion One !important;
    font-family: Plaster !important;
}
.logo > a {
    text-decoration: none;
    border: none !important;
    display: inline-block !important;
    font-size: 0.9em !important;
    font-weight: 300 !important;
    font-family: Passion One !important;
    font-family: Plaster !important;
    text-transform: none !important;
    font-variant: small-caps;
    letter-spacing: 0.05em !important;
    margin-left: 0px;
    margin-top: 40px;
}
.logo > a:hover, .logo > a:focus {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.4) !important;
}
.active-nav {
    border-bottom-width: 10px !important;
    border-bottom-color: rgb(87, 105, 118) !important;
    color: rgba(238, 92, 92, 1) !important;
}
.title {
    letter-spacing: 5px;
    padding-top: -10px;
    color: rgba(20, 20, 20, 0.7);
    font-size: 2.9em;
    font-weight: 300;
    margin-top: -10px;
    padding-bottom: 15px !important;
    font-family: Roboto Slab, sans-serif;
    text-transform: uppercase;
    Font-weight: 200;
}
.row {
    padding-top: 30px;
    margin-left: 0px !important;
}
.box-container {
    border: rgb(238, 92, 92) solid 3px;
}
.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}
.search {
    height: 44px !important;
    font-size: 0.65em;
    width: 75%;
    max-width: 650px;
    background: rgba(255, 249, 232, 0);
    border-radius: 0px;
    border-color: rgb(238, 92, 92);
    border-width: 3px !important;
    box-shadow: none;
    outline: 0 none;
    margin-top: -9px;
    color: rgb(238, 92, 92);
    font-family: Source Sans Pro;
    font-weight: 400;
    padding: 0px;
    padding-left: 10px;
}
textarea:focus, input[type="search"]:focus, input[type="button"]:focus {
    border-color: rgb(238, 92, 92) !important;
    box-shadow: none;
    outline: 0 none;
}
::-webkit-input-placeholder {
    color: rgb(226, 93, 64) !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: rgb(226, 93, 64) !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: rgb(226, 93, 64) !important;
}
:-ms-input-placeholder {
    color: rgb(226, 93, 64) !important;
}
.new-cal {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 600;
    font-size: 0.55em;
    height: 60px;
    margin-top: 26px;
}
.add-to-calendar-checkbox {
    display: block;
}
.add-to-calendar-checkbox:checked~a {
    display: inline !important;
}
.cal {
    height: 50px;
}
.calSpan {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 600;
    font-size: 0.9em;
    padding: 1.8px;
    background: rgb(218, 218, 218);
    padding-right: 7px;
    padding-left: 7px;
    font-family: Source Sans Pro;
}
.calSpan:hover {
    color: black;
}
.cal-options {
    padding-top: 11px;
    display: inline-block;
}
.cal-options>a {
    background: cadetblue;
    color: rgb(255, 249, 232);
    padding: 5px;
    font-size: 0.85em;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 7px;
    font-family: Source Sans Pro;
    letter-spacing: 0.11em;
}
.cal-options>a:hover {
    color: black;
}
.cal-options>a:focus {
    text-decoration: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.display-title {
    font-size: 1.3em;
    font-family: Source Sans Pro;
    font-weight: 900;
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(238, 92, 92);
    font-style: italic;
    display: inline;
    line-height: 0px;
    ;
}
.display-caption {
    letter-spacing: 0.08em;
    color: rgba(89, 69, 69, 0.94);
    text-transform: uppercase;
    font-family: Source Sans Pro;
    font-size: 0.6em;
    font-style: italic;
    font-weight: 700;
    margin-top: 0px;
}
.display-description {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.405em;
    text-align: initial;
    padding-top: 7px;
    font-family: Source Sans Pro;
}
.display-container {
    height: 781px;
    text-align: left;
    border-left-style: solid;
    overflow-y: auto;
    padding: 23px;
    border-right-style: solid;
    margin-left: 70px;
}
.light {
    font-weight: 500;
}
.filter-label {
    margin-top: -5px;
    letter-spacing: 0.04em;
    color: rgba(89, 69, 69, 0.94);
    text-transform: uppercase;
    font-size: 0.6em;
    padding-top: 4px;
    font-style: italic;
    font-weight: 700;
    font-family: Source Sans Pro;
}
.active-li {} .event-entry-name {
    font-size: 0.7em;
    font-weight: 500;
    font-family: Source Sans Pro;
    margin-bottom: -7px;
    line-height: 1.2em;
    color: rgb(85, 80, 80);
}
.event-entry-time {
    font-size: 0.625em;
    color: rgba(64, 63, 63, 0.86);
    margin-bottom: -5px;
    font-family: Source Sans Pro;
    font-weight: 300;
}
.list-container {
    padding: 27px 50px 39px 50px;
}
.display-container {
    padding: 27px 50px 39px 50px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.icon-bar {
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none !important;
}
.title-and-search {
    margin-bottom: 10px;
}
/*add 'screen and'*/

@media (max-width: 1250px) {
    .navbar-holder {
        font-size: 1.1em;
    }
}
@media (max-width: 1100px) {
    .navbar-holder {
        font-size: 1em;
    }
    .navbar-default .navbar-nav>li>a {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
}
@media (max-width: 875px) {
    .navbar-holder {
        padding: 0px;
    }
    #film-row, #events-row {
        margin-right: 0px !important;
        padding-top: 0px !important;
    }
    .box-container {
        border: none !important;
        border-bottom: 1px rgb(226, 93, 64) solid !important;
    }
    .list-container {
        padding: 0px !important;
    }
    .row {
        width: 100%;
        margin: 0px;
        padding: 0px !important;
    }
    .display-container {
        padding: 0px;
        margin: 14px;
        margin-top: 6px;
        line-height: 0.8em;
        border-bottom: none !important;
        margin-left: 12px;
    }
    .table-scroll {
        overflow: auto;
        border-top: 3px rgb(226, 93, 64) solid;
    }
    .list-heading {
        text-align: center !important;
        font-size: 0.8em !important;
        margin-top: 11px !important;
        display: inline;
    }
    .search {
        border-width: 1px !important;
        font-size: 0.55em;
        width: 140px;
        display: inline;
        height: 24px !important;
        ;
    }
    .back-btn {
        padding: 0px 5px 0px 5px;
        border: rgba(54, 56, 60, 0.58) solid 1px;
        font-style: normal;
        font-weight: 100;
        border-radius: 200px;
        font-family: PT Sans;
        font-size: 0.5em;
        color: rgba(54, 56, 60, 0.58);
        cursor: pointer;
        margin-top: 6px;
        float: right;
        margin-right: 1px;
        line-height: 1.3em;
        ;
    }
    .display-title {
        font-size: 0.65em !important;
    }
    .display-caption {
        font-size: 0.5em;
        margin-bottom: 0px;
    }
    #film-display-short {
        font-size: 0.55em !important;
    }
    .new-cal {
        font-size: 0.45em;
        margin-top: 16px;
    }
    .display-description {
        padding-top: 7px !important;
        font-size: 0.6em !important;
    }
    #films-table, #events-table {
        margin-top: 0px !important;
    }
    .title-and-search {
        text-align: left;
        margin-bottom: 6px;
        padding-left: 16px;
        margin-top: -4px;
    }
    .logo {
        margin: 0px;
        font-size: 1em;
        display: none !important;
        ;
    }
    .logo>a {
        font-family: PT Sans Narrow !important;
        text-transform: lowercase !important;
        color: rgb(226, 93, 64) !important;
        font-weight: 900 !important;
    }
    .navbar-nav>li {
        padding-top: 4px;
        padding-bottom: 5px;
        font-size: 0.9em;
    }
    .active-li {
        background: none;
        margin: 0px;
    }
    #bs-example-navbar-collapse-1 {
        border: none;
        margin-bottom: 6px;
    }
    .container-fluid {
        overflow: hidden;
    }
    .title {
        font-size: 2em !important;
        margin: 0px;
        margin-top: 14px;
        font-weight: 400 !important;
    }
    #links-section {
        padding-top: 10px;
    }
    #links-holder {
        font-size: 0.6em;
        line-height: 3.3em;
    }
    .greeting {
        font-size: 1.7em !important;
        font-weight: 400 !important;
        padding-top: 25%;
    }
    hr {
        width: 81% !important;
    }
    .intro {
        font-size: 1.3em !important;
        width: 81%;
    }
    #footer {
        font-size: 0.8em;
    }
    #directory-container {
        text-align: left !important;
    }
    #directory-search {
        height: 40px !important;
        font-size: 0.7em !important;
        margin-left: 15px !important;
        width: 91%;
        margin-top: 11px !important;
    }
    #directory-list {
        padding-top: 0px !important;
    }
    #directory-list-container {
        border-top: rgb(226, 93, 64) solid 3px;
        margin-top: 11px;
    }
    .entry-li {
        font-size: 0.8em;
        padding-left: 16px;
        padding-right: 16px;
    }
    .filter-label {
        font-size: 0.55em;
    }
    #show-div {
        margin-left: 15px;
        margin-top: -26px !important;
    }
    #sort-div {
        margin-left: 15px;
        margin-top: -8px !important;
        padding-bottom: 5px !important;
    }
    .btn {
        font-size: 0.5em !important;
    }
    #events-container {
        margin-left: 0px !important;
    }
    #films-container {
        margin-left: 0px !important;
    }
    .event-entry-container {
        border-left: none !important;
        border-right: none !important;
    }
    .event-entry-name {
        font-size: 0.6em;
    }
    .event-entry-time {
        font-size: 0.6em;
    }
    .event-entry-category {
        font-size: 0.5em !important;
    }
    .header-tr {
        font-size: 0.53em !important;
    }
    .header-tr > td {
        padding: 0px 1px 1px 10px !important;
        letter-spacing: 0.1em !important;
    }
    .menu-list-container {}
}
