body {
    overflow: scroll;
}
#directory-search {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.65em;
    padding-left: 15px;
    max-width: 650px;
    margin-top: 20px;
    border-radius: 0px;
    font-weight: 500;
    letter-spacing: 0.01em;
}
textarea:focus, input[type="search"]:focus {
    outline: 0 none;
    border-color: rgb(250, 132, 132);
    box-shadow: none;
}
li {
    list-style: none;
}
#directory-container {
    text-align: center;
    font-size: 2em;
    padding-left: 0px;
    padding-right: 0px;
}
#directory-list {
    padding-top: 20px;
    padding-left: 0px;
}
.entry-name {
    /* float: left; */
    
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 0.8em;
    text-align: left;
    max-width: 500px;
    display: inline;
    float: left;
}
.entry-data {
    max-width: 500px;
    display: inline;
}
.entry-data > ul {
    margin-top: -8px;
}
.entry-li {
    border-bottom: rgb(238, 92, 92) solid 3px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    padding-top: 20px;
    text-align: right;
}
.field-div {
    /* font-size: 1em; */
    
    ;
    font-size: 0.65em;
    font-weight: 900;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    display: inline;
    color: rgba(119, 119, 119, 0.73);
}
.field-data {
    display: inline;
    font-weight: 300;
    font-size: 0.75em;
}
.data-hr {
    visibility: hidden;
    margin-top: -26px;
    ;
}
