body{
    overflow: scroll;
}
#directory-search {
    margin-left: auto;
    margin-right: auto;
    height: 55px !important;
    font-size: 1em;
    background: rgb(255, 249, 232);
    padding-left: 15px;
    max-width: 650px;
    margin-top: 20px;
    border-radius: 0px;
}
textarea:focus, input[type="search"]:focus {
    outline: 0 none;
    border-color: rgb(250, 132, 132);
    box-shadow: none;
}
li {
    list-style: none;
}
#directory-container {
    text-align: center;
    font-size: 2em;
    padding-left: 0px;
    padding-right: 0px;
}
#directory-list {
    padding-top: 20px;
    padding-left: 0px;
}
.entry-name {
    max-width: 500px;
    /* float: left; */
    
    text-align: left;
    display: inline;
    float: left;
    font-family: PT sans;
    letter-spacing: 0.04em;
    font-weight: 100;
    font-size: 0.8em;
}
.entry-data {
    display: inline;
    max-width: 500px;
}
.entry-li {
    border-bottom: rgb(226,93,64) solid 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    font-family: Josefin sans;
    border-bottom-style: solid;
}
.field-div {
    text-align: left;
    display: inline;
    /* font-size: 1em; */;
    font-size: 0.9em;
    font-family: PT sans;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 0.03em;
}
.field-data {
    display: inline;
    font-weight: 400;
    font-family: PT sans;
    font-size: 0.8em;
}
.data-hr {
    visibility: hidden;
    margin-top: -26px;;
}