#events-list-heading {
    font-weight: 700;
    color: rgba(255, 94, 94, 0.77);
    font-family: Josefin sans;
    font-variant: small-caps;
    font-size: 1.8em;
    display: inline;
    font-style: oblique;
}
#events-search {
    height: 40px !important;
    font-size: 0.8em;
    width: 55%;
    max-width: 650px;
    font-weight: 300;
    font-family: Josefin Sans;
    display: inline;
    border-radius: 0px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: black;
    border-bottom: black 1px solid;
    padding-left: 2px;
}
textarea:focus, input[type="search"]:focus {
    border-color: rgba(255, 83, 83, 0.48039);
    box-shadow: none;
    outline: 0 none;
}
#events-row {
    font-size: 2em;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
#events-list-container {
    background: rgba(255, 216, 109, 0.1);
    border-style: solid;
    border-width: 1px;
    padding-right: 30px;
    padding-left: 30px;
    border-color: black;
}
#event-display-container {
    text-align: left;
    border-width: 1px;
    border-color: rgb(228, 220, 220);
    padding-left: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    overflow-y: auto !important;
    margin-left: 50px;
    height: 789px;
}
#events-list {
    text-align: left;
    padding: 0px;
}
.event-entry-container {
    border-bottom-style: solid;
    padding-left: 23px;
    padding-bottom: 5px;
    background: rgb(253, 255, 212);
    padding-top: 5px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
}
.event-entry-container:hover {
    background: rgba(255, 83, 83, 0.05);
    cursor: pointer;
}
.event-entry-name {
    font-size: 0.8em;
    font-weight: 400;
    font-family: Alegreya sans;
}
.event-entry-time {
    font-size: 0.8em;
    color: rgba(64, 63, 63, 0.86);
}
#events-table-scroll {
    overflow: auto;
    height: 573px;
}
#events-table {
    border-width: 1px;
    margin-bottom: 30px;
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    width: 100%;
}
#event-display-title {
    font-size: 1.3em;
    font-style: italic;
    padding-top: 19px;
    padding-bottom: 10px;
    font-family: Josefin Sans;
    font-weight: 800;
}
#event-display-link {
    font-size: 0.7em;
    color: rgba(238, 92, 92, 0.81);
    font-weight: 400;
    word-wrap: break-word;
    font-family: Alegreya sans;
    border-style: solid;
    padding: 6px;
    border-width: 1.6px;
}
#event-display-link:hover {
    background: rgba(238, 92, 92, 0.81);
    color: white;
}
#event-display-description {
    font-weight: 300;
    font-family: Alegreya sans;
    font-size: 1em;
    line-height: 1.4em;
}
#show-div {
    padding-bottom: 20px;
    text-align: left;
}
#sort-div {
    text-align: left;
    padding-bottom: 20px;
}
input {
    outline: 0;
}
.btn-inactive:hover {
    background: rgba(255, 229, 0, 0.49);
}
/*rder-bottom-color: rgb(94, 113, 151);*/

.btn-inactive {
    border-width: 1px;
    padding: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    padding-top: 4px;
    border-style: solid;
    border-color: black;
    background: none;
    font-style: oblique;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3px;
    margin-left: 10px;
}
.btn-active {
    background: rgba(255, 0, 0, 0.51) !important;
    color: black !important;
    border-width: 1px;
    padding: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    padding-top: 4px;
    border-style: solid;
    border-color: black;
    font-style: oblique;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3px;
    margin-left: 10px;
}
#events-search-holder {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 12px;
}
#events-display-container > h1, b {
    font-variant: small-caps;
    color: rgba(216, 98, 98, 0.86);
}
.event-display-heading {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 4px;
}
.cat_color {
    width: 11px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}
.header-tr {
    background: rgb(38, 49, 71);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    font-style: oblique;
    border: black 1px solid;
    color: white;
}
.header-tr > td {
    padding: 4px;
    padding-left: 12px;
    letter-spacing: 0.05em;
}
.event-tr {
}
