.title {
    padding-bottom: 40px !important;
    transition-property: text-shadow !important;
    transition-timing-function: ease !important;
    transition-delay: 0.5s !important;
    transition-duration: 1.2s !important;
    /*transition: text-shadow, 2.4s, ease;*/
    
    color: transparent;
    text-shadow: #343434 1px 1px 25px;
}
#films-list-heading {
    font-size: 2em;
    color: rgba(4, 101, 255, 0.35);
    font-weight: bold;
    font-variant: small-caps;
    ;
}
#films-search {
    margin-left: auto;
    margin-right: auto;
    height: 50px !important;
    background: rgb(255, 249, 232);
    padding-left: 15px;
    font-size: 1em;
    max-width: 650px;
}
textarea:focus, input[type="search"]:focus {
    border-color: rgba(118, 114, 114, 0.48);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(147, 127, 127, 0.77);
    outline: 0 none;
}
#film-row {
    text-align: center;
    font-size: 2em;
    padding-left: 0px;
    padding-right: 0px;
}
#films-list-container {
    background: rgba(255, 216, 109, 0.1);
}
#film-display-container {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: red;*/
    
    height: 650px;
    text-align: left;
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(228, 220, 220);
    padding-left: 50px;
    margin-left: 70px;
}
#films-list {
    text-align: left;
    padding: 0px;
}
.film-entry-container {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.film-entry-container:hover {
    background: rgba(255, 83, 83, 0.05);
    cursor: pointer;
}
.film-entry-name {
    font-size: 1em;
}
.film-entry-time {
    font-size: 0.8em;
    color: rgba(64, 63, 63, 0.86);
}
#films-table-scroll {
    overflow: auto;
    height: 520px;
}
#films-table {
    width: 100%;
}
#film-display-title {
    font-style: italic;
    font-size: 1.8em;
}
#film-display-imdb {
    font-size: 0.7em;
}
#films-search {
    margin-bottom: 20px
}
