.logo > a {
    color: rgb(238, 92, 92) !important;
}
.logo > a:hover {
    color: red !important;
}
#about-row {
    margin: auto;
    padding-top: 149px;
}
.about {
    font-size: 3em;
}
p {
    color: rgb(65, 56, 56);
}
.greeting {
    font-family: Source Sans Pro;
    font-size: 3.9em;
    font-weight: 300;
}
.intro {
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.centered {
    text-align: center;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    width: 480px;
    border-top: 1px solid rgba(128, 128, 128, 0.33);
    margin-left: auto;
    margin-right: auto;
}
html, body, .body-container {
    height: 100%;
}
body > .body-container {
    height: auto;
    min-height: 100%;
}
#footer {
    clear: both;
    position: relative;
    text-align: center;
    z-index: 10;
    margin-top: -3em;
}
#footer > h4 {
    color: rgba(74, 74, 74, 0.63);
    font-size: 1em;
    text-transform: uppercase;
    
}
#content {
    padding-bottom: 3em;
}