#menu-search {
    margin-left: auto;
    margin-right: auto;
    height: 55px !important;
    font-size: 1em;
    background: rgb(255, 249, 232);
    padding-left: 15px;
    max-width: 650px;
    margin-top: 20px;
    border-radius: 0px;
}
textarea:focus, input[type="search"]:focus {
    outline: 0 none;
    border-color: rgb(250, 132, 132);
    box-shadow: none;
}
li {
    list-style: none;
}
#menu-container {
    text-align: center;
    font-size: 2em;
    padding-left: 0px;
    padding-right: 0px;
}

.menunav {
    padding: 10px;
    text-align: center;
    color: #49464b;
    font-size: 40px;
}

.entry-name {
    font-size: 1.1em;
    max-width: 500px;
    /* float: left; */
    
    text-align: left;
    display: inline;
    float: left;
    font-weight: initial;
    font-family: Josefin sans;
}
.entry-data {
    display: inline;
    max-width: 500px;
}
.entry-li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: right;
    font-family: Josefin sans;
}
.field-div {
    text-align: left;
    display: inline;
    font-weight: 800;
    text-transform: capitalize;
}
.field-data {
    display: inline;
    font-weight: 400;
}
.title {
    font-family: Roboto Slab;
    color: rgb(238, 92, 92);
    font-style: normal;
    font-size: 80px;
}
#menu-list-container {
    text-align: left;
}
.item-description {
    padding-bottom: 35px;
    line-height: 1.25em;
}
.item-title {
    font-weight: bold;
    padding-right: 15px;
}
.name-description {
    font-weight: bold;
    padding-right: 15px;
}
